---
import Layout from "@layouts/Layout.astro";
import SectionGrid from "@components/SectionGrid.astro";
import Table from "@components/Table.astro";
import TableRow from "@components/TableRow.astro";
import Card from "@components/Card.astro";
---

<Layout
  title="cloud"
  description="Unlock new gaming horizons"
  heading="cloud."
  subheading="Unlock new gaming horizons."
>
  <SectionGrid title="Gamertags" transition:animate="slide">
    <Card
      service="Steam"
      gamertag="cloud"
      description="Join the gaming fun on 'Steam,' where your library gets so hot, it might just start to vaporize!"
      svg="steam"
      buttonhref="https://steamcommunity.com/id/cloud361/"
    />
    <!-- <Card
      service="GOG.com"
      gamertag="Gummientchen_"
      description="The Defensive Regulatory Magicon must be destroyed!"
      svg="gog"
      buttonhref="https://www.gog.com/u/Gummientchen_"
    /> -->
    <Card
      service="Xbox Live"
      gamertag="cloud361"
      description="X to the Box"
      svg="xbox"
      buttonhref="https://account.xbox.com/en-us/profile?gamertag=cloud361"
    />
    <!-- <Card
      service="EA"
      gamertag="Gummientchen_ch"
      description="They will spy on you! :P"
      svg="ea"
    /> 
    <Card
      service="Uplay"
      gamertag="cloud361"
      description="These games are never finished! ;)"
      svg="uplay"
    /> -->
    <!-- <Card
      service="Nintendo"
      gamertag="Gummientchen_ch"
      description="0619 - 8903 - 4604"
      svg="nintendo"
    /> -->
    <Card
      service="Battle.net"
      gamertag="cloud361"
      description="Where gamers unite, virtual victories ignite!"
      svg="battlenet"
    />
    <Card
      service="Riot"
      gamertag="cloud#361"
      description="Toaster for the win!"
      svg="riot"
      buttonhref="https://tracker.gg/valorant/profile/riot/cloud%23361/overview"
      buttonsuffix="Tracker"
    />
  </SectionGrid>

  <SectionGrid title="Games">
    <!-- <Card
      service="CSGO"
      description="Bomb has been planted"
      svg="csgo"
      buttonhref="games/csgo"
      buttonsuffix="More Info"
    />
    <Card
      service="Factorio"
      description="The Factory Must Grow!"
      svg="factorio"
      buttonhref="games/factorio"
      buttonsuffix="More Info"
    /> -->
    <Card
      service="Farming Simulator 22"
      description="Growing virtual crops"
      svg="fs22_2"
      buttonhref="games/fs22"
      buttonsuffix="More Info"
    />
    <!-- <Card
      service="Rocket League"
      description="Calculated"
      svg="rocketleague_2"
      buttonhref="games/rocketleague"
      buttonsuffix="More Info"
    />-->
    <Card
      service="Sea of Thieves"
      description="Arr!"
      svg="seaofthieves"
      buttonhref="games/seaofthieves"
      buttonsuffix="More Info"
    />
    <!--<Card
      service="Skyrim"
      description="Fus Ro Dah!"
      svg="skyrim"
      buttonhref="games/skyrim"
      buttonsuffix="More Info"
    />-->
    <Card
      service="Valorant"
      description="Let me toast you all"
      svg="valorant"
      buttonhref="games/valorant"
      buttonsuffix="More Info"
    />
    <Card
      service="Kerbal Space Program"
      description="To the Mooooon"
      svg="ksp"
      buttonhref="games/ksp"
      buttonsuffix="More Info"
    />
  </SectionGrid>

  <SectionGrid title="Hype">
    <Card
      service="Starfield"
      description="Where's my Sandwich?!"
      svg="starfield"
      buttonhref="hyped/starfield"
      buttonsuffix="More Info"
    />
  </SectionGrid>

  <SectionGrid title="Social">
    <!--<Card
      service="YouTube"
      gamertag="Gummientchen"
      description="DRAMA!!!"
      svg="youtube"
      buttonhref="https://www.youtube.com/user/steff999"
    /> -->
    <Card
      service="Twitch"
      gamertag="cloud_361"
      description=""
      svg="twitch"
      buttonhref="https://www.twitch.tv/cloud_361"
    />
    <!-- <Card
      service="Twitter"
      gamertag="Gummientchen_"
      description="#Hashtag"
      svg="twitter"
      buttonhref="https://twitter.com/Gummientchen_"
    /> -->
    <Card
      service="Printables"
      gamertag="TheTGuy"
      description="Print a printer with your printer"
      svg="printables"
      buttonhref="https://www.printables.com/@TheTGuy"
    />
  </SectionGrid>

  <Table
    title="Rig"
    href="https://pcpartpicker.com/list/hcb8YN"
  >
    <TableRow component="CPU">AMD Ryzen 5 5600X 3.7 GHz</TableRow>
    <TableRow component="GPU">
      GTX 1080 TI
    </TableRow>
    <TableRow component="RAM">
      Corsair Vengeance RGB Pro 32 GB
    </TableRow>
    <TableRow component="Motherboard">
      Asus ROG STRIX B450-F GAMING
    </TableRow>
    <TableRow component="Storage">
      Samsung - 980 PRO NVMe 1TB M.2 2280<br />
    </TableRow>
    <TableRow component="CPU Cooler">
      Corsair iCUE H150i RGB PRO XT
    </TableRow>
    <TableRow component="Case">Fractal - Meshify S2 Black - Dark TG</TableRow>
    <TableRow component="Power Supply">
      be quiet! Straight Power 11 750W
    </TableRow>
    <TableRow component="Main Display">AOC 25G3ZM</TableRow>
    <TableRow component="Secondary Displays">
      Samsung C24F396FHR<br />
    </TableRow>
    <TableRow component="Mouse">
      Logitech G502 Hero
    </TableRow>
    <TableRow component="Keyboard">Ducky - One 2 Mini (MX Blue)</TableRow>
  </Table>
</Layout>
